<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/algorithm">Algorithm</a></li>
  <!-- <li><a href="{{ root_url }}/data-structure">数据结构</a></li> -->
  <li><a href="{{ root_url }}/machine-learning">ML</a></li>
  <li><a href="{{ root_url }}/programing-language">Programing</a></li>
  <li><a href="{{ root_url }}/android">Android</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
</ul>
